streamlit
playwright 
#run playwright install in terminal to download new browsers
scrapegraphai
nest_asyncio
openpyxl
pandas
psycopg2-binary
sqlalchemy
spacy
# python -m spacy download en_core_web_md
transformers
torch  
sklearn